# Browser profiles and caches (do not version)
configs/dot-config/BraveSoftware/Brave-Browser/
configs/dot-config/**/GPUCache/
configs/dot-config/**/ShaderCache/
configs/dot-config/**/Cache/
configs/dot-config/**/Code Cache/
configs/dot-config/**/Service Worker/
configs/dot-config/**/IndexedDB/
configs/dot-config/**/Local Storage/

# OS/user clutter
.DS_Store
Thumbs.db
